extends layout

block body
  h1 Explore #{place}

  include partials/geo-location

  script(src='js/lib/vendor/google-maps-api.js')
  script(src='js/lib/geo.js')
  script(src='js/browserified/explore.js')
