extends layout

block body

  div.container
    div.row

      div.twelve.columns
        include partials/hello

  // script(src='js/app.js')
  // script(src='js/services/someService.js')
  // script(src='js/controllers/someController.js')
