!!!
html(lang="en")
  head
    meta(charset='utf8')
    base(href='/')
    title App Name

    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')

    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Raleway:300,400,600')

    link(rel='stylesheet', type='text/css', href='/css/normalize.css')
    link(rel='stylesheet', type='text/css', href='/css/skeleton.css')
    link(rel='stylesheet', type='text/css', href='/less/style.css')

    link(rel='icon', type='image/png', href='images/favicon.png')

  body
    block body
    script(src='js/lib/vendor/bower_components/jquery/dist/jquery.min.js')
    script(src='js/lib/vendor/bower_components/jquery-ui/ui/jquery-ui.js')
    script(src='js/lib/vendor/bower_components/angular/angular.js')
    script(src='js/lib/vendor/bower_components/angular-route/angular-route.js')
