!!!
html(lang="en")
  head
    meta(charset='utf8')
    base(href='/')
    title App Name

    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Raleway:300,400,600')

    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/skeleton.css')
    link(rel='stylesheet', href='/css/style.css')

    link(rel='icon', type='image/png', href='images/favicon.png')

  body
    block body
